{
  "enabled": true,
  "host": "mail.lab.delaye.ch",
  "port": 25,
  "username": "",
  "password": "",
  "fromAddress": "jonesbusy@gmail.com",
  "subjectPrefix": "[NEXUS]",
  "startTlsEnabled": false,
  "startTlsRequired": false,
  "sslOnConnectEnabled": false,
  "sslServerIdentityCheckEnabled": false,
  "nexusTrustStoreEnabled": false
}