{
  "name": "{{ repository.name }}",
  "online": {{ repository.online | default(true) | lower }},
  "storage": {
    "blobStoreName": "{{ repository.blobstore }}",
    "strictContentTypeValidation": {{ repository.strict | default(true) | lower }},
    "writePolicy": "{{ repository.write_policy | default('ALLOW_ONCE') }}"
  },
  "cleanup": {
    "policyNames": [{{ repository.cleanup_policies | map("to_json") | join(", ") }}]
  },
  "component": {
    "proprietaryComponents": true
  },
  "raw": {
    "contentDisposition": "{{ repository.disposition | default('ATTACHMENT') }}"
  }
}